<div class="input-area">
  <div #suggestionsBox class="suggestions-box" *ngIf="suggestionsBoxVisible">
    <div
      class="result-item-container"
      [ngClass]="{ 'selected': username === selected }"
      (mouseover)="onResultItemHover(username)"
      (click)="onResultItemClick(username)"
      *ngFor="let username of filteredUsernames;">
      <div class="result-item">
        {{ username }}
      </div>
    </div>
  </div>
  
  <input
    #messageInput
    class="input"
    type="text"

    (keyup)="onKeyUp($event)"
    (keydown)="onKeyDown($event)"
    (focus)="onFocus()"
    
    placeholder="Type message here">
</div>